# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store

# Local configuration
.env
.env.*
!.env.example
